/*
0 - 425px:        Phone
425px - 768px:    Tablet (portrait)
768px - 1024px:   Tablet (landscape)
[1024px - 1800px] is where our normal styles apply
1800px+ :         Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #ffffff; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 27em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #f5f5f5; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  color: #707070;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }
  @media only screen and (max-width: 27em) {
    body {
      font-size: 2.5rem;
      line-height: 1.6; } }

.heading-primary {
  color: #ffffff;
  margin-bottom: 4rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  display: block;
  font-size: 6rem;
  font-weight: 400; }

.heading-secondary {
  color: #3d4fb8;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 27em) {
    .heading-secondary {
      font-size: 3.5rem;
      margin-bottom: 5rem; } }
  .heading-secondary::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    color: inherit;
    background-color: currentColor;
    margin-top: 1rem; }
  .heading-secondary--light {
    color: #f5f5f5; }
  .heading-secondary--text {
    color: #707070; }

.icon-heading {
  display: flex;
  align-items: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 27em) {
    .icon-heading {
      margin-bottom: 5rem; } }
  .icon-heading__icon {
    fill: #3d4fb8;
    height: 5rem;
    width: 5rem; }
  .icon-heading__text {
    margin-left: 3rem;
    margin-bottom: 0; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.u-margin-bottom-md {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 27em) {
    .u-margin-bottom-md {
      margin-bottom: 3rem; } }

.u-margin-bottom-lg {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 27em) {
    .u-margin-bottom-lg {
      margin-bottom: 4rem; } }

.u-bold {
  font-weight: 900; }

.skipnav {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10000px;
  transform: translateX(-50%);
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 20px;
  padding: 2rem;
  font-size: 2rem;
  background-color: red;
  color: white;
  outline-color: transparent; }
  .skipnav:focus {
    top: 10px; }

.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn--white {
  background-color: #ffffff;
  color: #707070; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--blue {
  background-color: #8d8fdb;
  color: #ffffff; }
  .btn--blue::after {
    background-color: #8d8fdb; }

.btn--animated {
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-name: moveInBottom;
  animation-timing-function: ease-out; }

.btn--big {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase; }

.btn--small {
  padding: 10px 30px; }

.btn__image-container {
  width: 10rem; }

.btn__image {
  width: 100%; }

.card {
  width: 25%;
  height: 30rem;
  min-width: 20rem;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
  perspective: 150rem; }
  .card__side {
    border-radius: 10px;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3rem 0;
    transition: all 0.8s ease;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-image: linear-gradient(to right bottom, #8d8fdb 40%, #3d4fb8 100%); }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: white;
      padding: 20%;
      font-size: 1.4rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__photo-container {
    width: 70%;
    background-color: white;
    clip-path: circle(46%);
    position: relative; }
    .card__photo-container:before {
      content: "";
      display: block;
      padding-top: 100%; }
  .card__photo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: circle(44%);
    background-size: cover;
    background-position: center; }
    .card__photo--1 {
      background-image: url("../img/lieven.jpg"); }
    .card__photo--2 {
      background-image: url("../img/isabelle.jpg"); }
    .card__photo--3 {
      background-image: url("../img/karen.jpg"); }
  .card__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

@media (max-width: 800px) {
  .card {
    width: 40%; } }

@media (max-width: 550px) {
  .card {
    width: 70%; } }

.panel {
  min-width: 400px;
  width: 75%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 112.5em) {
    .panel {
      width: 1200px; } }
  @media only screen and (max-width: 27em) {
    .panel {
      flex-direction: column;
      min-width: auto;
      width: 100%; } }
  .panel__sub-panel {
    flex: 0 0 50%;
    overflow: hidden; }
    .panel__sub-panel--left {
      height: 400px; }
      @media only screen and (min-width: 112.5em) {
        .panel__sub-panel--left {
          height: 600px; } }
      .panel__sub-panel--left > * {
        overflow: hidden;
        z-index: 1; }
      @media only screen and (max-width: 27em) {
        .panel__sub-panel--left {
          order: 2;
          height: 300px; } }
    @media only screen and (max-width: 27em) {
      .panel__sub-panel--right {
        order: 1; } }

.address {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem; }
  @media only screen and (max-width: 27em) {
    .address {
      align-items: center; } }
  .address__body {
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    font-weight: 300; }
    @media only screen and (min-width: 112.5em) {
      .address__body {
        font-size: 2em; } }
    .address__body:hover {
      font-weight: 400; }
    .address__body span {
      display: block; }

.warning {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 6, 6, 0.6);
  padding: 2rem 2rem;
  border-radius: 10px;
  font-weight: 300; }
  .warning__icon {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgba(255, 6, 6, 0.6);
    border-radius: 50%;
    text-align: center;
    height: 60px;
    font-size: 3rem;
    font-weight: 900; }
  .warning__text {
    margin-left: 2rem; }

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(61, 79, 184, 0.7);
  color: #f5f5f5;
  padding: 8rem 0rem; }
  @media only screen and (max-width: 27em) {
    .price {
      flex-direction: column;
      padding: 8rem 4rem; } }
  .price__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 20%; }
    @media only screen and (max-width: 27em) {
      .price__amount {
        margin-bottom: 8rem; } }
  .price__amount-total {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(61, 79, 184, 0.7);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 27em) {
      .price__amount-total {
        width: 20rem;
        height: 20rem;
        font-size: 4rem; } }
  .price__explanation {
    flex: 0 0 40%; }
  .price__image {
    background-image: linear-gradient(to right, rgba(61, 79, 184, 0.7), rgba(61, 79, 184, 0.7)), url(../img/coins.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 40%; }
    @media only screen and (max-width: 27em) {
      .price__image {
        height: 200px;
        width: 100%; } }

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #707070;
  min-width: 25rem;
  flex: 0 1 20%;
  margin: 3rem; }
  @media only screen and (max-width: 27em) {
    .icon-item {
      max-width: 80%; } }
  @media only screen and (max-width: 27em) {
    .icon-item:not(:last-child) {
      margin-bottom: 6rem; } }
  .icon-item--light {
    color: #f5f5f5; }
  .icon-item__icon {
    color: inherit;
    fill: currentColor;
    height: 8rem;
    margin-bottom: 1rem; }
  .icon-item__title {
    text-align: center; }
  .icon-item__body {
    text-align: center;
    font-weight: 300; }

.telephone {
  font-weight: 700;
  text-decoration: none;
  color: #3d4fb8; }

.hero-with-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
  margin-top: 64px; }
  @media only screen and (max-width: 27em) {
    .hero-with-content {
      flex-direction: column; } }
  .hero-with-content__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    align-items: center; }
  .hero-with-content__hero {
    background-size: cover;
    width: 100%;
    height: 80vh;
    max-height: 500px; }
    @media only screen and (max-width: 27em) {
      .hero-with-content__hero {
        height: 50vh; } }
  .hero-with-content__right {
    flex: 0 0 60%;
    padding: 4rem;
    padding-bottom: 0; }
    .hero-with-content__right > *:not(:last-child) {
      margin-bottom: 10rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(141, 143, 219, 0.8), rgba(61, 79, 184, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 27em) {
    .header {
      height: 85vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 1rem; }
    @media only screen and (max-width: 27em) {
      .header__logo-box {
        top: 1.2rem;
        left: 0rem; } }
  .header__logo {
    height: 10rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
    @media only screen and (max-width: 27em) {
      .header__logo {
        height: 8rem; } }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 2rem; }

.sidenav__checkbox {
  display: none; }

.sidenav__button {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  .sidenav__button--navbar {
    width: 5rem;
    height: 5rem;
    top: calc(64px / 2 - 5rem / 2);
    right: calc(64px / 2 - 5rem / 2); }
  @media only screen and (max-width: 27em) {
    .sidenav__button {
      width: 5rem;
      height: 5rem;
      top: 3rem;
      right: 3rem; }
      .sidenav__button--navbar {
        width: 5rem;
        height: 5rem;
        top: calc(64px / 2 - 5rem / 2);
        right: calc(64px / 2 - 5rem / 2); } }

.sidenav__background {
  width: calc(7rem - 1rem);
  height: calc(7rem - 1rem);
  display: inline-block;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  z-index: 1000;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(61, 79, 184, 0.9), rgba(61, 79, 184, 0.9));
  transform: scale(1);
  transition: all 0.3s; }
  .sidenav__background--navbar {
    width: calc(5rem - 1rem);
    height: calc(5rem - 1rem);
    top: calc(64px / 2 - 5rem / 2 + 0.5rem);
    right: calc(64px / 2 - 5rem / 2 + 0.5rem); }
  @media only screen and (max-width: 27em) {
    .sidenav__background {
      width: calc(5rem - 1rem);
      height: calc(5rem - 1rem);
      top: calc(3rem + 0.5rem);
      right: calc(3rem + 0.5rem); }
      .sidenav__background--navbar {
        width: calc(5rem - 1rem);
        height: calc(5rem - 1rem);
        top: calc(64px / 2 - 5rem / 2 + 0.5rem);
        right: calc(64px / 2 - 5rem / 2 + 0.5rem); } }

.sidenav__checkbox:checked ~ .sidenav__background {
  transform: scale(100); }

.sidenav__list-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: none; }

.sidenav__list {
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s linear;
  opacity: 0; }

.sidenav__checkbox:checked ~ .sidenav__list-container {
  display: flex; }
  .sidenav__checkbox:checked ~ .sidenav__list-container .sidenav__list {
    opacity: 1; }

.sidenav__item {
  list-style-type: none;
  margin: 2rem; }

.sidenav__link:link, .sidenav__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.sidenav__link:hover, .sidenav__link:active {
  border: 2px solid #ffffff; }

.sidenav__icon {
  top: calc(7rem / 2);
  left: 1.5rem; }
  .sidenav__icon--navbar {
    top: calc(5rem / 2);
    left: 1rem; }
  @media only screen and (max-width: 27em) {
    .sidenav__icon {
      top: calc(5rem / 2);
      left: 1rem; } }
  .sidenav__icon, .sidenav__icon::before, .sidenav__icon::after {
    position: absolute;
    background-color: #000000;
    width: calc(7rem - 3rem);
    height: 2px;
    display: inline-block;
    transition: all 0.2s; }
    @media only screen and (max-width: 27em) {
      .sidenav__icon, .sidenav__icon::before, .sidenav__icon::after {
        height: 1px;
        width: calc(5rem - 2rem); } }
  .sidenav__icon--navbar, .sidenav__icon--navbar::before, .sidenav__icon--navbar::after {
    height: 1px;
    width: calc(5rem - 2rem); }
  .sidenav__icon::before, .sidenav__icon::after {
    content: ""; }
  .sidenav__icon::before {
    top: -0.8rem; }
  .sidenav__icon::after {
    top: 0.8rem; }

.sidenav__button:hover > .sidenav__icon::before {
  top: -1rem; }

.sidenav__button:hover > .sidenav__icon::after {
  top: 1rem; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon {
  background-color: transparent; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::before {
  transform: rotate(135deg);
  top: 0; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navbar {
  height: 64px;
  width: 100%;
  background-image: linear-gradient(to bottom, #8d8fdb, #3d4fb8);
  position: fixed;
  top: 0;
  z-index: 900;
  opacity: 0.95;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .navbar__logo {
    height: 80%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .navbar__pageTitle {
    color: #ffffff;
    font-weight: 400;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.footer {
  background-color: #707070;
  padding: 2rem;
  font-size: 1.5rem;
  color: #f5f5f5; }
  @media only screen and (max-width: 27em) {
    .footer {
      display: flex;
      align-items: center; } }
  .footer__logo-box {
    width: 15rem; }
    @media only screen and (max-width: 27em) {
      .footer__logo-box {
        width: 50%;
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 100%;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .footer__container {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 27em) {
      .footer__container {
        flex-direction: column; } }
  .footer__navigation {
    border-top: 1px solid #f5f5f5;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 27em) {
      .footer__navigation {
        margin-bottom: 4rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__copyright {
    border-top: 1px solid #f5f5f5;
    padding-top: 2rem;
    display: inline-block;
    background-color: inherit; }

.main {
  background-color: #f5f5f5; }

.overview-section {
  display: flex;
  flex-direction: row;
  margin: 8rem 0;
  justify-content: space-evenly;
  align-items: flex-start; }
  @media only screen and (max-width: 27em) {
    .overview-section {
      flex-direction: column;
      margin: 10rem 4rem; } }
  .overview-section .make-appointment {
    flex: 0 0 40%; }
    @media only screen and (max-width: 27em) {
      .overview-section .make-appointment {
        margin-bottom: 5rem; } }
  .overview-section .doctors {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    @media only screen and (min-width: 112.5em) {
      .overview-section .doctors {
        flex: 0 0 30%; } }
    .overview-section .doctors__image {
      width: 100%; }
    .overview-section .doctors__caption {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      @media only screen and (max-width: 27em) {
        .overview-section .doctors__caption {
          flex-direction: column;
          align-items: center; } }
    .overview-section .doctors__name {
      color: #3d4fb8; }

.location-section {
  background-image: linear-gradient(to right bottom, rgba(141, 143, 219, 0.7), #8d8fdb);
  padding: 8rem; }
  @media only screen and (max-width: 27em) {
    .location-section {
      padding: 10rem 4rem; } }

.how-to-request-section__hero {
  background-image: linear-gradient(to right, transparent 50%, #f5f5f5 100%), linear-gradient(to bottom, transparent 50%, #f5f5f5 100%), url(../img/stethoscope.jpg); }
  @media only screen and (max-width: 27em) {
    .how-to-request-section__hero {
      background-image: url(../img/stethoscope.jpg); } }

.take-along-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 8rem 5rem; }
  @media only screen and (max-width: 48em) {
    .take-along-section {
      flex-direction: column; } }

.be-aware-section {
  background-color: rgba(61, 79, 184, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0; }
  .be-aware-section .icon-items-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 27em) {
      .be-aware-section .icon-items-container {
        flex-direction: column;
        width: auto; } }

.how-to-request-huisbezoeken-section__hero {
  background-image: linear-gradient(to right, transparent 50%, #f5f5f5 100%), linear-gradient(to bottom, transparent 50%, #f5f5f5 100%), url(../img/injury-teddy.jpg); }
  @media only screen and (max-width: 27em) {
    .how-to-request-huisbezoeken-section__hero {
      background-image: url(../img/injury-teddy.jpg); } }
