/*
0 - 425px:        Phone
425px - 768px:    Tablet (portrait)
768px - 1024px:   Tablet (landscape)
[1024px - 1800px] is where our normal styles apply
1800px+ :         Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
  1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
  2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
  4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
  7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
  11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
  17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
  25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #ffffff; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 27em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  flex-grow: 1;
  background-color: #fafafa; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  color: #707070;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }
  @media only screen and (max-width: 27em) {
    body {
      font-size: 2.5rem;
      line-height: 1.6; } }

.heading-primary {
  color: #ffffff;
  margin-bottom: 4rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  display: block;
  font-size: 6rem;
  font-weight: 400; }

.heading-secondary {
  color: black;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 700; }
  @media only screen and (max-width: 27em) {
    .heading-secondary {
      font-size: 3.5rem;
      margin-bottom: 2rem; } }
  .heading-secondary--light {
    color: #fafafa; }
  .heading-secondary--text {
    color: black; }

.icon-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 27em) {
    .icon-heading {
      font-size: 2rem; } }
  .icon-heading__icon {
    --icon-size: 2.5rem;
    fill: #253bb8;
    height: var(--icon-size);
    width: var(--icon-size); }
  .icon-heading__text {
    margin-left: 2rem;
    margin-bottom: 0; }

a {
  color: blue;
  transition: text-underline-offset .1s ease-in-out;
  text-underline-offset: 3px;
  text-decoration: none; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.u-margin-bottom-md {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 27em) {
    .u-margin-bottom-md {
      margin-bottom: 3rem; } }

.u-margin-bottom-lg {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 27em) {
    .u-margin-bottom-lg {
      margin-bottom: 4rem; } }

.u-bold {
  font-weight: 900; }

.color-primary-light {
  color: #8484db !important; }

.skipnav {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10000px;
  transform: translateX(-50%);
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 20px;
  padding: 2rem;
  font-size: 2rem;
  background-color: red;
  color: white;
  outline-color: transparent; }
  .skipnav:focus {
    top: 10px; }

.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn--white {
  background-color: #ffffff;
  color: #707070; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--blue {
  background-image: linear-gradient(to right bottom, #8484db, #253bb8);
  color: #ffffff; }
  .btn--blue::after {
    background-image: linear-gradient(to right bottom, #8484db, #253bb8); }

.btn--animated {
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-name: moveInBottom;
  animation-timing-function: ease-out; }

.btn--big {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase; }

.btn--small {
  padding: 10px 30px; }

.btn__image-container {
  width: 10rem; }

.btn__image {
  width: 100%; }

.card {
  border-radius: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 3 / 4;
  box-shadow: var(--shadow-elevation-medium);
  position: relative;
  transition: transform .15s ease-in-out;
  --text-background-gradient: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,.50));
  --background-gradient: radial-gradient(rgb(247, 247, 252), #f3f3ff); }
  .card--lieven {
    --dominant-color: hsl(339, 12%, 86%);
    background-image: var(--text-background-gradient), url(../img/lieven.png), var(--background-gradient); }
  .card--isabelle {
    --dominant-color: hsl(15, 38%, 90%);
    background-image: var(--text-background-gradient), url(../img/isabelle.png), var(--background-gradient); }
  .card--karen {
    --dominant-color: hsl(344, 12%, 85%);
    background-image: var(--text-background-gradient), url(../img/karen.png), var(--background-gradient); }
  .card--nesrin {
    --dominant-color: hsl(35, 46%, 90%);
    background-image: var(--text-background-gradient), url(../img/nesrin.png), var(--background-gradient); }
  .card--kobe {
    --dominant-color: hsl(90, 7%, 85%);
    background-image: var(--text-background-gradient), url(../img/kobe.png), var(--background-gradient); }
  .card:hover {
    transform: scale(1.05) rotateZ(1deg); }
  .card__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center; }

.panel {
  min-width: 400px;
  border-radius: 50px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 27em) {
    .panel {
      flex-direction: column;
      min-width: auto;
      width: 100%; } }
  .panel__sub-panel {
    flex: 0 0 50%;
    overflow: hidden; }
    .panel__sub-panel--left {
      max-height: 400px; }
      .panel__sub-panel--left > * {
        overflow: hidden;
        z-index: 1; }
      @media only screen and (max-width: 27em) {
        .panel__sub-panel--left {
          order: 2;
          max-height: 300px; } }
    @media only screen and (max-width: 27em) {
      .panel__sub-panel--right {
        order: 1; } }

.address {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem; }
  @media only screen and (max-width: 27em) {
    .address {
      align-items: center; } }
  .address__body {
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem; }
    @media only screen and (max-width: 27em) {
      .address__body {
        font-size: 3rem; } }
    .address__body:hover {
      font-weight: 400; }
    .address__body span {
      display: block;
      color: #707070; }

.warning {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 6, 6, 0.6);
  padding: 2rem 2rem;
  border-radius: 10px;
  font-weight: 500; }
  .warning__icon {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgba(255, 6, 6, 0.6);
    border-radius: 50%;
    text-align: center;
    height: 60px;
    font-size: 3rem;
    font-weight: 900; }
  .warning__text {
    margin-left: 2rem; }

.info {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid white; }
  .info__text {
    margin-left: 2rem; }

.price {
  display: flex;
  flex-direction: row;
  gap: 5%; }
  @media only screen and (max-width: 27em) {
    .price {
      flex-direction: column;
      padding: 12vw 4rem; } }
  .price__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 0 0 20%; }
    @media only screen and (max-width: 27em) {
      .price__amount {
        flex-direction: row;
        margin-bottom: 4rem;
        gap: 2rem; } }
  .price__amount-total {
    --size: 15rem;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(37, 59, 184, 0.7);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    .price__amount-total--special {
      --size: 7.5rem !important;
      font-size: 1.5rem;
      background-color: transparent;
      color: white;
      border: 1px dashed white; }
      @media only screen and (max-width: 27em) {
        .price__amount-total--special {
          --size: 10rem !important;
          font-size: 2rem !important; } }
    @media only screen and (max-width: 27em) {
      .price__amount-total {
        --size: 20rem;
        font-size: 4rem; } }
  .price__explanation {
    flex: 1 1 80%; }

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #707070;
  min-width: 25rem;
  flex: 0 1 20%;
  margin: 3rem; }
  @media only screen and (max-width: 27em) {
    .icon-item {
      max-width: 80%; } }
  @media only screen and (max-width: 27em) {
    .icon-item:not(:last-child) {
      margin-bottom: 6rem; } }
  .icon-item--light {
    color: #fafafa; }
  .icon-item__icon {
    color: inherit;
    fill: currentColor;
    opacity: .75;
    height: 8rem;
    margin-bottom: 1rem; }
  .icon-item__title {
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 27em) {
      .icon-item__title {
        font-size: 2.5rem; } }
  .icon-item__body {
    text-align: center;
    font-weight: 300; }

.telephone {
  font-weight: 700;
  text-decoration: none;
  color: #253bb8; }

.hero-with-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 6vw;
  margin-top: 64px;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  @media only screen and (max-width: 27em) {
    .hero-with-content {
      flex-direction: column;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: 12vw;
      gap: 0; } }
  .hero-with-content__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    align-items: center; }
  .hero-with-content__hero {
    width: 100%;
    height: 50vh; }
    @media only screen and (max-width: 27em) {
      .hero-with-content__hero {
        height: 40vh; } }
  .hero-with-content__right {
    flex: 0 0 60%;
    padding: 4rem;
    padding-bottom: 0; }
    .hero-with-content__right > *:not(:last-child) {
      margin-bottom: 10rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(132, 132, 219, 0.8), rgba(37, 59, 184, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 27em) {
    .header {
      height: 85vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 1rem; }
    @media only screen and (max-width: 27em) {
      .header__logo-box {
        top: 1.2rem;
        left: 0rem; } }
  .header__logo {
    height: 10rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
    @media only screen and (max-width: 27em) {
      .header__logo {
        height: 8rem; } }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 2rem; }

.sidenav__checkbox {
  display: none; }

.sidenav__button {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  border-radius: 50%;
  cursor: pointer; }
  .sidenav__button--navbar {
    width: 5rem;
    height: 5rem;
    top: calc(64px / 2 - 5rem / 2);
    right: calc(64px / 2 - 5rem / 2); }
  @media only screen and (max-width: 27em) {
    .sidenav__button {
      width: 5rem;
      height: 5rem;
      top: 3rem;
      right: 3rem; }
      .sidenav__button--navbar {
        width: 5rem;
        height: 5rem;
        top: calc(64px / 2 - 5rem / 2);
        right: calc(64px / 2 - 5rem / 2); } }

.sidenav__background {
  width: calc(7rem - 1rem);
  height: calc(7rem - 1rem);
  display: inline-block;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  z-index: 1000;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.3s; }
  .sidenav__background--navbar {
    width: calc(5rem - 1rem);
    height: calc(5rem - 1rem);
    top: calc(64px / 2 - 5rem / 2 + 0.5rem);
    right: calc(64px / 2 - 5rem / 2 + 0.5rem); }
  @media only screen and (max-width: 27em) {
    .sidenav__background {
      width: calc(5rem - 1rem);
      height: calc(5rem - 1rem);
      top: calc(3rem + 0.5rem);
      right: calc(3rem + 0.5rem); }
      .sidenav__background--navbar {
        width: calc(5rem - 1rem);
        height: calc(5rem - 1rem);
        top: calc(64px / 2 - 5rem / 2 + 0.5rem);
        right: calc(64px / 2 - 5rem / 2 + 0.5rem); } }

.sidenav__checkbox:checked ~ .sidenav__background {
  transform: scale(100);
  background: linear-gradient(to right, rgba(37, 59, 184, 0.9), rgba(37, 59, 184, 0.9)); }

.sidenav__list-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: none; }

.sidenav__list {
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s linear;
  opacity: 0; }

.sidenav__checkbox:checked ~ .sidenav__list-container {
  display: flex; }
  .sidenav__checkbox:checked ~ .sidenav__list-container .sidenav__list {
    opacity: 1; }

.sidenav__item {
  list-style-type: none;
  margin: 2rem; }

.sidenav__link {
  border-radius: 1rem; }
  .sidenav__link:link, .sidenav__link:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    border: 2px solid transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }
  .sidenav__link:hover, .sidenav__link:active {
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1); }

.sidenav__icon {
  top: calc(7rem / 2);
  left: 1.5rem; }
  .sidenav__icon--navbar {
    top: calc(5rem / 2);
    left: 1rem; }
  @media only screen and (max-width: 27em) {
    .sidenav__icon {
      top: calc(5rem / 2);
      left: 1rem; } }
  .sidenav__icon, .sidenav__icon::before, .sidenav__icon::after {
    position: absolute;
    background-color: #ffffff;
    box-shadow: var(--shadow-elevation-high);
    width: calc(7rem - 3rem);
    height: 3px;
    display: inline-block;
    transition: all 0.2s; }
    @media only screen and (max-width: 27em) {
      .sidenav__icon, .sidenav__icon::before, .sidenav__icon::after {
        height: 3px;
        width: calc(5rem - 2rem); } }
  .sidenav__icon--navbar, .sidenav__icon--navbar::before, .sidenav__icon--navbar::after {
    height: 3px;
    width: calc(5rem - 2rem);
    background-color: black; }
  .sidenav__icon::before, .sidenav__icon::after {
    content: ""; }
  .sidenav__icon::before {
    top: -0.8rem; }
  .sidenav__icon::after {
    top: 0.8rem; }

.sidenav__button:hover > .sidenav__icon::before {
  top: -1rem; }

.sidenav__button:hover > .sidenav__icon::after {
  top: 1rem; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon {
  background-color: transparent; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::before {
  transform: rotate(135deg);
  top: 0; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navbar {
  height: 64px;
  width: 100%;
  background-color: white;
  opacity: .90;
  backdrop-filter: blur(10000px);
  position: fixed;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .navbar__logo-container {
    height: 80%; }
  .navbar__logo {
    height: 100%; }
  .navbar__pageTitle {
    color: black;
    font-weight: 700;
    font-size: 2rem;
    opacity: .75;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 27em) {
      .navbar__pageTitle {
        font-size: 2.5rem; } }

.footer {
  background-color: #4f4f4f;
  padding: 2rem;
  font-size: 1.5rem;
  color: #fafafa; }
  @media only screen and (max-width: 27em) {
    .footer {
      display: flex;
      align-items: center; } }
  .footer__logo-box {
    width: 15rem; }
    @media only screen and (max-width: 27em) {
      .footer__logo-box {
        width: 50%; } }
  .footer__logo {
    width: 100%;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .footer__container {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 27em) {
      .footer__container {
        flex-direction: column; } }
  .footer__navigation {
    padding-top: 1rem;
    display: inline-block; }
    @media only screen and (max-width: 27em) {
      .footer__navigation {
        margin-bottom: 2rem; } }
  .footer__list {
    list-style: none; }
    @media only screen and (max-width: 27em) {
      .footer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__copyright {
    padding-top: 1rem;
    opacity: .75;
    display: inline-block;
    background-color: inherit; }

.section {
  padding: 6vw calc(50vw - 60ch); }
  .section--narrow {
    padding: 6vw calc(50vw - 40ch); }
  .section--wide {
    padding: 6vw calc(50vw - 80ch); }
  .section--dark {
    background-image: linear-gradient(to right bottom, #8484db, #253bb8);
    color: rgba(255, 255, 255, 0.85); }
  @media only screen and (max-width: 27em) {
    .section {
      flex-direction: column;
      padding: 12vw 6vw; } }

.section--who-are-we {
  padding-top: 6vw; }
  .section--who-are-we .cards {
    --gap: 4rem;
    --cards-per-row: 5;
    display: flex;
    gap: var(--gap);
    width: 100%; }
    @media only screen and (max-width: 27em) {
      .section--who-are-we .cards {
        --gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr; } }
    .section--who-are-we .cards .card {
      --cards-per-row: 2;
      width: calc(100% / var(--cards-per-row) - var(--gap) / var(--cards-per-row)); }
      @media only screen and (max-width: 27em) {
        .section--who-are-we .cards .card {
          width: auto; } }

.how-to-request-section__hero {
  background-image: url(../img/stethoscope.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2rem; }
  @media only screen and (max-width: 27em) {
    .how-to-request-section__hero {
      background-image: url(../img/stethoscope.png); } }

.take-along-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 48em) {
    .take-along-section {
      flex-direction: column; } }

.be-aware-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .be-aware-section .icon-items-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 27em) {
      .be-aware-section .icon-items-container {
        flex-direction: column;
        width: auto; } }

.how-to-request-huisbezoeken-section {
  padding-top: 0;
  padding-bottom: 0; }
  .how-to-request-huisbezoeken-section__hero {
    background-image: url(../img/injury-teddy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem; }

.wachtdienst-section {
  padding-top: 0;
  padding-bottom: 0; }
  .wachtdienst-section__hero {
    background-image: url(../img/telephone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem; }
