*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #ffffff; }

body {
  background-color: #f5f5f5; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  color: #707070;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #ffffff;
  margin-bottom: 4rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  display: block;
  font-size: 6rem;
  font-weight: 400; }

.heading-secondary {
  color: #3d4fb8;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 4rem; }
  .heading-secondary::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: #3d4fb8;
    margin-top: 1rem; }

.icon-heading {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  .icon-heading__icon {
    fill: #3d4fb8;
    height: 5rem;
    width: 5rem; }
  .icon-heading__text {
    margin-left: 4rem;
    margin-bottom: 0; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.u-margin-bottom-md {
  margin-bottom: 2rem; }

.u-margin-bottom-lg {
  margin-bottom: 3rem; }

.u-bold {
  font-weight: 900; }

.skipnav {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -10000px;
  transform: translateX(-50%);
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 20px;
  padding: 2rem;
  font-size: 2rem;
  background-color: red;
  color: white;
  outline-color: transparent; }
  .skipnav:focus {
    top: 10px; }

.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn--white {
  background-color: #ffffff;
  color: #707070; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--blue {
  background-color: #8d8fdb;
  color: #ffffff; }
  .btn--blue::after {
    background-color: #8d8fdb; }

.btn--animated {
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-name: moveInBottom;
  animation-timing-function: ease-out; }

.btn--big {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase; }

.btn--small {
  font-size: 1.4rem;
  padding: 1rem 3rem; }

.btn__image-container {
  width: 10rem; }

.btn__image {
  width: 100%; }

.card {
  width: 25%;
  height: 30rem;
  min-width: 20rem;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
  perspective: 150rem; }
  .card__side {
    border-radius: 10px;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3rem 0;
    transition: all 0.8s ease;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-image: linear-gradient(to right bottom, #8d8fdb 40%, #3d4fb8 100%); }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: white;
      padding: 20%;
      font-size: 1.4rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__photo-container {
    width: 70%;
    background-color: white;
    clip-path: circle(46%);
    position: relative; }
    .card__photo-container:before {
      content: "";
      display: block;
      padding-top: 100%; }
  .card__photo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: circle(44%);
    background-size: cover;
    background-position: center; }
    .card__photo--1 {
      background-image: url("../img/lieven.jpg"); }
    .card__photo--2 {
      background-image: url("../img/isabelle.jpg"); }
    .card__photo--3 {
      background-image: url("../img/karen.jpg"); }
  .card__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

@media (max-width: 800px) {
  .card {
    width: 40%; } }

@media (max-width: 550px) {
  .card {
    width: 70%; } }

.panel {
  min-width: 400px;
  width: 75%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .panel__sub-panel {
    flex: 0 0 50%; }

.address {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem; }
  .address__body {
    font-size: 2.3rem;
    text-decoration: none;
    color: inherit;
    font-weight: 300; }
    .address__body:hover {
      font-weight: 400; }
    .address__body span {
      display: block; }

.warning {
  display: inline-block;
  color: #ff0606;
  border: 1px solid #ff0606;
  padding: 0.5rem 1rem;
  border-radius: 10px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(141, 143, 219, 0.8), rgba(61, 79, 184, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  margin-bottom: 2rem; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 1rem; }
  .header__logo {
    height: 10rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%; }

.sidenav__checkbox {
  display: none; }

.sidenav__button {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  position: fixed;
  top: 8rem;
  right: 8rem;
  z-index: 2000;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  .sidenav__button--navbar {
    top: 30px;
    right: 30px; }

.sidenav__background {
  width: 6rem;
  height: 6rem;
  display: inline-block;
  position: fixed;
  top: 8.5rem;
  right: 8.5rem;
  z-index: 1000;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(61, 79, 184, 0.9), rgba(61, 79, 184, 0.9));
  transform: scale(1);
  transition: all 0.3s; }
  .sidenav__background--navbar {
    top: 35px;
    right: 35px; }

.sidenav__checkbox:checked ~ .sidenav__background {
  transform: scale(100); }

.sidenav__list-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: none; }

.sidenav__list {
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s linear;
  opacity: 0; }

.sidenav__checkbox:checked ~ .sidenav__list-container {
  display: flex; }
  .sidenav__checkbox:checked ~ .sidenav__list-container .sidenav__list {
    opacity: 1; }

.sidenav__item {
  list-style-type: none;
  margin: 2rem; }

.sidenav__link:link, .sidenav__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  border: 2px solid transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.sidenav__link:hover, .sidenav__link:active {
  border: 2px solid #ffffff; }

.sidenav__icon {
  top: 3.5rem;
  left: 2rem; }
  .sidenav__icon, .sidenav__icon::before, .sidenav__icon::after {
    position: absolute;
    background-color: #000000;
    width: 3rem;
    height: 2px;
    display: inline-block;
    transition: all 0.2s; }
  .sidenav__icon::before, .sidenav__icon::after {
    content: ""; }
  .sidenav__icon::before {
    top: -0.8rem; }
  .sidenav__icon::after {
    top: 0.8rem; }

.sidenav__button:hover > .sidenav__icon::before {
  top: -1rem; }

.sidenav__button:hover > .sidenav__icon::after {
  top: 1rem; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon {
  background-color: transparent; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::before {
  transform: rotate(135deg);
  top: 0; }

.sidenav__checkbox:checked + .sidenav__button .sidenav__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navbar {
  height: 64px;
  width: 100%;
  background-image: linear-gradient(to bottom, #8d8fdb, #3d4fb8);
  position: sticky;
  top: 0;
  z-index: 900;
  opacity: 0.95;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .navbar__logo {
    margin-right: 38%;
    height: 80%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .navbar__pageTitle {
    color: #ffffff;
    font-weight: 400; }

.footer {
  background-color: #707070;
  padding: 2rem;
  font-size: 1.4rem;
  color: #f5f5f5; }
  .footer__logo {
    width: 15rem;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); }
  .footer__container {
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    align-items: center; }
  .footer__navigation {
    border-top: 1px solid #f5f5f5;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__copyright {
    border-top: 1px solid #f5f5f5;
    padding-top: 2rem;
    display: inline-block;
    background-color: inherit; }

.homepage {
  margin: 2rem; }

.main {
  background-color: #f5f5f5; }

.overview-section {
  display: flex;
  margin: 10rem 0;
  justify-content: space-evenly;
  align-items: flex-start; }
  .overview-section .make-appointment {
    flex: 0 0 40%; }
  .overview-section .doctors {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .overview-section .doctors__image {
      width: 100%; }
    .overview-section .doctors__caption {
      display: flex;
      justify-content: space-around; }

.location-section {
  background-image: linear-gradient(to right bottom, rgba(141, 143, 219, 0.7), #8d8fdb);
  padding: 10rem; }

.how-to-request-section {
  display: flex; }
  .how-to-request-section .left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    align-items: center; }
  .how-to-request-section .hero {
    background-image: linear-gradient(to right, transparent 50%, #f5f5f5 100%), linear-gradient(to bottom, transparent 50%, #f5f5f5 100%), url(../img/stethoscope.jpg);
    background-size: cover;
    width: 100%;
    height: 45rem; }
  .how-to-request-section .right {
    flex: 0 0 50%;
    padding: 4rem 4rem 4rem 2rem; }
    .how-to-request-section .right > :not(:last-child) {
      margin-bottom: 8rem; }
