.footer {
  background-color: #4f4f4f;
  padding: 2rem;
  font-size: 1.5rem;
  color: $color-grey-light;

  @include respond(phone) {
    display: flex;
    align-items: center;
  }
  
  &__logo-box {
    width: 15rem;

      @include respond(phone) {
        width: 50%;
      }
  }


  &__logo {
    width: 100%;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg)
      brightness(106%) contrast(106%);

  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__navigation {
    padding-top: 1rem;
    display: inline-block;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    list-style: none;

    @include respond(phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  &__copyright {
    padding-top: 1rem;
    opacity: .75;
    display: inline-block;
    background-color: inherit;
  }
}
