.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  margin-bottom: 2rem;

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 1rem;
  }

  &__logo {
    height: 10rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg)
      brightness(106%) contrast(106%);
  }

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 2rem;
  }
}
