.navbar {
  height: 64px;
  background-image: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  display: flex;
  align-items: center;
  text-align: center;

  &__logo {
    margin-right: 38%;
    height: 80%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg)
      brightness(106%) contrast(106%);
  }

  &__pageTitle {
    color: $color-white;
    font-weight: 400;
  }
}
