.sidenav {
  &__checkbox {
    display: none;
  }

  // z-indices used for UI components, from highest to lowest:
  //
  // 1. Button ------ 2000
  // 2. List -------- 1500
  // 3. Background -- 1000

  &__button {
    width: $hamburger-button-diameter-large;
    height: $hamburger-button-diameter-large;
    display: inline-block;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 2000;
    border-radius: 50%;
    cursor: pointer;

    &--navbar {
      width: $hamburger-button-diameter-small;
      height: $hamburger-button-diameter-small;
      top: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2);
      right: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2);
    }

    @include respond(phone) {
      width: $hamburger-button-diameter-small;
      height: $hamburger-button-diameter-small;
      top: 3rem;
      right: 3rem;

      &--navbar {
        width: $hamburger-button-diameter-small;
        height: $hamburger-button-diameter-small;
        top: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2);
        right: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2);
      }
    }
  }

  // ===========================================================================
  //
  // Block: SIDENAV
  // Element: SIDENAV__BACKGROUND
  //
  // The "SIDENAV__BACKGROUND" initially hides behind the "SIDENAV__BUTTON".
  //
  // #1 Width and height are slightly smaller than the width and the height of the button
  // #2 Also using fixed positioning, but with top / right properties slightly moved to the center
  //
  // ===========================================================================

  &__background {
    width: calc(#{$hamburger-button-diameter-large} - 1rem); // #1
    height: calc(#{$hamburger-button-diameter-large} - 1rem); // #1
    display: inline-block;
    position: fixed; // #2
    top: 5.5rem; // #2
    right: 5.5rem; //#2
    z-index: 1000;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.3s;

    &--navbar {
      width: calc(#{$hamburger-button-diameter-small} - 1rem); // #1
      height: calc(#{$hamburger-button-diameter-small} - 1rem); // #1
      top: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2 + 0.5rem); // #2
      right: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2 + 0.5rem); //#2
    }

    @include respond(phone) {
      width: calc(#{$hamburger-button-diameter-small} - 1rem);
      height: calc(#{$hamburger-button-diameter-small} - 1rem);
      top: calc(3rem + 0.5rem);
      right: calc(3rem + 0.5rem);

      &--navbar {
        width: calc(#{$hamburger-button-diameter-small} - 1rem); // #1
        height: calc(#{$hamburger-button-diameter-small} - 1rem); // #1
        top: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2 + 0.5rem); // #2
        right: calc(#{$navbar-height} / 2 - #{$hamburger-button-diameter-small} / 2 + 0.5rem); //#2
      }
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
    background: linear-gradient(
                    to right,
                    rgba($color-primary-dark, 0.9),
                    rgba($color-primary-dark, 0.9)
    );
  }

  // ===========================================================================
  //
  // Block: SIDENAV
  // Elements:
  //          SIDENAV__LIST-container
  //            SIDENAV__LIST
  //              SIDENAV__ITEM
  //                SIDENAV__LINK
  //
  // ===========================================================================

  &__list-container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1500;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  &__list {
    display: inline-block;
    overflow: hidden;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  &__checkbox:checked ~ &__list-container {
    display: flex;

    & .sidenav__list {
      opacity: 1;
    }
  }

  &__item {
    list-style-type: none;
    margin: 2rem;
  }

  &__link {
    border-radius: 1rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      font-size: 3rem;
      padding: 1rem 1.5rem;
      border: 2px solid transparent;
      text-shadow: 1px 1px 2px rgba($color-black, 0.4);
    }

    &:hover,
    &:active {
      border: 2px solid $color-white;
      background-color: rgba($color-white, .1);
    }
  }

  // ==========================================================================
  //
  // Block: SIDENAV
  // Element: SIDENAV__ICON
  //
  // ==========================================================================

  &__icon {
    top: calc(#{$hamburger-button-diameter-large} / 2);
    left: 1.5rem;

    &--navbar {
      top: calc(#{$hamburger-button-diameter-small} / 2);
      left: 1rem;
    }

    @include respond(phone) {
      top: calc(#{$hamburger-button-diameter-small} / 2);
      left: 1rem;
    }

    &,
    &::before,
    &::after {
      position: absolute;
      background-color: $color-white;
      box-shadow: var(--shadow-elevation-high);
      width: calc(#{$hamburger-button-diameter-large} - 3rem);
      height: 3px;
      display: inline-block;
      transition: all 0.2s;

      @include respond(phone) {
        height: 3px;
        width: calc(#{$hamburger-button-diameter-small} - 2rem);
      }
    }

    &--navbar,
    &--navbar::before,
    &--navbar::after {
      height: 3px;
      width: calc(#{$hamburger-button-diameter-small} - 2rem);
      background-color: black;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover > &__icon::before {
    top: -1rem;
  }

  &__button:hover > &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}

.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: white;
  opacity: .90;
  backdrop-filter: blur(10000px);
  position: fixed;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: $shadow-medium;


  &__logo-container {
    height: 80%;
  }

  &__logo {
    height: 100%;
  }

  &__pageTitle {
    color: black;
    font-weight: 700;
    font-size: 2rem;
    opacity: .75;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}
