.section {
  padding: $padding-small calc(50vw - 60ch);

  &--narrow {
    padding: $padding-small calc(50vw - 40ch);
  }

  &--wide {
    padding: $padding-small calc(50vw - 80ch);
  }

  &--dark {
    background-image: $primary-gradient;
    color: rgba($color-white, .85);
  }

  @include respond(phone) {
    flex-direction: column;
    padding: $padding-medium $padding-small;
  }
}