.card {
  width: 25%;
  height: 30rem;
  min-width: 20rem;
  border-radius: $border-radius-large;
  margin: 1rem;
  position: relative;
  perspective: 150rem;

  &__side {
    border-radius: $border-radius-large;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3rem 0;
    transition: all 0.8s ease;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);

    &--front {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 1) 40%,
        rgba($color-primary-dark, 1) 100%
      );
    }

    &--back {
      transform: rotateY(180deg);
      background-color: white;
      padding: 20%;
      font-size: 1.4rem;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__photo-container {
    width: 70%;
    background-color: white;
    clip-path: circle(46%);
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: circle(44%);
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url("../img/lieven.jpg");
    }

    &--2 {
      background-image: url("../img/isabelle.jpg");
    }

    &--3 {
      background-image: url("../img/karen.jpg");
    }
  }

  &__title {
    color: $color-white;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 800px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 550px) {
  .card {
    width: 70%;
  }
}
