.hero-with-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: $padding-small;
  margin-top: $navbar-height;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  @include respond(phone) {
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: $padding-medium;
    gap: 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    align-items: center;
  }

  &__hero {
    width: 100%;
    height: 50vh;

    @include respond(phone) {
      height: 40vh;
    }
  }

  &__right {
    flex: 0 0 60%;
    padding-top: 4rem;

    @include respond(phone) {
      padding: 0 $padding-small;
    }

    & > *:not(:last-child) {
      margin-bottom: 10rem;
    }
  }
}
