.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        fill: $color-grey-dark;
        height: 10rem;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.8rem;
        /* max-width: 30rem; */
        text-align: center;
    }
}