.panel {
  min-width: 400px; // Height of map is set to 400px, so width should never shrink below 400px
  border-radius: 50px;
  background-color: $color-white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba($color-black, 0.2);

  @include respond(phone) {
    flex-direction: column;
    min-width: auto;
    width: 100%;
  }

  &__sub-panel {
    flex: 0 0 50%;
    overflow: hidden;

    &--left {
      max-height: 400px;

      & > * {
        overflow: hidden;
        z-index: 1;
      }

      @include respond(phone) {
        order: 2;
        max-height: 300px;
      }
    }

    &--right {
      @include respond(phone) {
        order: 1;
      }
    }
  }
}

.address {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem;

  @include respond(phone) {
    align-items: center;
  }

  &__body {
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;

    @include respond(phone) {
      font-size: 3rem;
    }

    &:hover {
      font-weight: 400;
    }

    & span {
      display: block;
      color: $color-grey-dark;
    }
  }
}
