.panel {
  min-width: 400px; // Height of map is set to 400px, so width should never shrink below 400px
  width: 75%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0px 2px 4px rgba($color-black, 0.2);

  @include respond(phone) {
    flex-direction: column;
    min-width: auto;
    width: 100%;
  }

  &__sub-panel {
    flex: 0 0 50%;
    overflow: hidden;
    
    &--left {
      height: 400px;

      @include respond(phone) {
        order: 2;
        height: 300px;
      }
    }

    &--right {
      @include respond(phone) {
        order: 1;
      }
    }
  }
}

.address {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem;

  @include respond(phone) {
    align-items: center;
  }

  &__body {
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    font-weight: 300;

    &:hover {
      font-weight: 400;
    }

    & span {
      display: block;
    }
  }
}
