.warning {
  display: inline-block;
  color: $color-white;
  background-color: $color-warning;
  padding: 1.5rem 3rem;
  border-radius: $border-radius-large;
  font-weight: 300;
  margin: 2rem;
  text-align: center;
}
