.section--who-are-we {
  padding-top: $padding-small;

  .cards {
    --gap: 4rem;
    --cards-per-row: 5;

    display: flex;
    gap: var(--gap);
    width: 100%;

    @include respond(phone) {
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .card {
      --cards-per-row: 2;
      width: calc(100% / var(--cards-per-row) - var(--gap) / 2)
    }
  }
}
