.section--who-are-we {
  padding-top: $padding-small;

  .cards {
    --gap: 4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
    width: 100%;

    @include respond(phone) {
      --gap: 2rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .card {
      width: 30ch;

      @include respond(phone) {
        width: auto;
      }
    }
  }
}
