.section--who-are-we {
  padding-top: $padding-small;

  .cards {
    --gap: 4rem;
    --cards-per-row: 5;

    display: flex;
    gap: var(--gap);
    width: 100%;

    @include respond(phone) {
      --gap: 2rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .card {
      --cards-per-row: 2;
      width: calc(100% / var(--cards-per-row) - var(--gap) / var(--cards-per-row));

      @include respond(phone) {
        width: auto;
      }
    }
  }
}
