.how-to-request-huisbezoeken-section {
  padding-top: 0;
  padding-bottom: 0;

  &__hero {
    background-image: url(../img/injury-teddy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
  }
}
  